body{
    
    background-position: center;
    font-family: Arial, sans-serif;
    color: #ffffff;
    background-image: url("./imgs/Ultron_Textless_AoU_Poster\ 25_07_23\ cropped.jpg");    
    background-size: cover;
    height: 100%;
    min-height: 100%;
    padding:0;
    background-repeat:no-repeat;
    
    
    
  }
.header1{
font-size:32px;
line-height: 1.125;
font-weight:600;
letter-spacing:.004em;
font-family:"SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
text-align:center;
display: block;
}
#page1{
   height:100vh; 
  background-color:#263F4D
  position:relative;
  
}

#nav{
  height:50px;
  background-color:#485055;
  width:auto;
  display:flex;
  padding:0 30px;
  align-items: center;
  justify-content:space-between;
  border-bottom: 1px solid:#0000;
  

}
#nav img{
  height: 30px;
}
#nav h5{

  font-size:
}
    
#elements{
  /* background-color: red; */
  height:430px;
  display:flex;
  align-items:center;
  justify-content:space-between;
}
#element1{
  width:30%;
  height=100%;
  background colour: blue;
  border-right: 1px;
  border-left:1px;
  padding-left:60px; 
  text-align:center;
  overflow:hidden;
  
}
#element2{
  width:20%;
  height=100%;
  padding-right:300px;
  text-align:center;
  overflow:hidden;
 
}
#element1 #image-div{
  height:50%;
  width:100%;
  overflow:hidden;
  text-align: center;

}
#element2 #image-div{
  height:50%;
  width:100%
  overflow:hidden;
  text-align:center;
  
}
#element2 #image-div img{
  height:3%;
  width:45%
  object-fit:cover;
  transition:all ease 0.4s
}
#element1 #image-div img{
  height:70%;
  width:70%;
  object-fit:cover;
  transition:all ease 0.4s;
}
#image-div:hover img {
  scale:1.2;
}
#momentstext{
  
  margin-top:1px;
  margin-left:70px;
  text-align: center;
}
#gallerytext{
  margin-top:1px;
  margin-left:15px;
}
.menu{

}

* {
  box-sizing: border-box;
}

.secondpage{
  margin: 0;
  font-family:
  background-color: #3b3c3d;
}

.header {
  text-align: center;
  text-transform: uppercase;
  padding: 32px;
  background-color: #43434c;
  color: #fff;
  border-bottom: 4px #4e4d4c;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
  overflow:hidden;
}

.gallery img {
  
  width: 100%;
  max-width: 350px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
  transition:all ease 0.4s;

}

.gallery img:hover{
  scale:1.2;
}

.gallery::after {
  content: "";
  width: 350px;
}
.header img{
height:30px;
}

.logos{
  text-align:center;
}
.homebutton{
  text-align:center;
}